<div class="container">
  <div class="center-text">
    <div id="product-name">
      <h1><strong><%= @product.name %></strong></h1>
    </div>
    <h3>Price: $<%= @product.cost %></h3>
    <h3>Country of origin: <%= @product.country_of_origin %></h3>
    <div class="red-link">
      <% if current_user && current_user.admin %>
        <%= link_to "Edit Product", edit_product_path(@product) %>
        |
        <%= link_to "Delete Product", product_path(@product),
        :data => {:confirm => "Are you sure?", :method => "delete"} %>
      <% elsif current_user %>
        <%= link_to "Add a review", new_product_review_path(@product) %>
      <% else %>
        <p>Sign in to add a review for this product.</p>
      <% end %>
    </div>
  </div>
  <div id="reviews">
    <% if @product.reviews.any? %>
      <h3><strong>Product reviews:</strong></h3>
        <% @product.reviews.each do |review| %>
          <p><strong>Rating: <%= review.rating %></strong></p>
          <p>Author: <%= review.author %></p>
          <p><%= review.content_body %></p>
          <div class="red-link">
            <%= link_to "See details", product_review_path(@product, review) %><br><br>
          </div>
        <% end %>
    <% else %>
      <p>There are no reviews for this product yet.</p>
    <% end %>
  </div>
</div>