<!DOCTYPE html>
<html>
  <head>
    <title>MarioRatings</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div id="nav">
      <% if current_user %>
        <%= link_to "Home", root_path %> | <%= link_to "Products", products_path %> | <%= link_to "Settings", '/users/edit' %> | <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %> | <%= current_user.email %>
      <% else %>
          <%= link_to "Home", '/' %> | <%= link_to "Sign up", new_user_registration_path %> | <%= link_to "Sign in", new_user_session_path %>
      <% end %>
    </div>

  <body>
  <div class="container">
    <%= flash[:notice] %>
    <%= flash[:alert] %>
    <%= yield %>
  </div>
  </body>
</html>
